html {
    scrollbar-gutter: stable;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 95vw;
    height: 95vh;

    font-family: Footlight MT Light;
    font-size: large;
}

.start {
    width: 95vw;
    height: 95vh;
}

.start-menu {
    width: 100%;
    height: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.start-menu p {
    margin: 0;
}

.start-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.menu-btn div {
    width: 30%;

    display: flex;
    flex-direction: column;
}

.rule {
    width: 100%;

    line-height: 1.25em;

    display: flex;
    flex-direction: column;

}

.rule h2 {
    text-align: center;
}

.content {
    width: 100%;
    height: 95%;

    background-color: #000;
    display: flex;
}

.title-area {
    width: 40%;
    height: 100%;

    display: flex;
    justify-content: left;
    align-items: center;
}

.room-id-area {
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-area {
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: right;
    align-items: center;
}

.main {
    width: 60%;
    height: 100%;

    border: 1px solid black;

    display: flex;
    flex-direction: column;
}

.rival-area {
    width: 100%;
    height: 10%;

    display: flex;

    background-color: rgb(155, 0, 155);
    color: white;
}

.rival-btn-area {
    width: 70%;
    height: 100%;

    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
}

button {
    padding: 0;
}

.rival-btn-area img {
    width: 50%;
}

.button {
    height: 90%;
    aspect-ratio: 2/1;
    border: 1px solid #000;
    color: black;
    background-color: rgb(245, 245, 245);

    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;
}

.button:hover {
    opacity: 0.85;
}

.button img {
    height: 50%;
    object-fit: contain;
}

.rival-name-area {
    width: 20%;
    height: 50%;

    display: flex;
    justify-content: end;
    align-items: center;
}

.rival-icon-area {
    width: 10%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.result-area {
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.5em;
}

.hand-area {
    width: 100%;
    height: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    background-color: #000;
}

.rival-hand-area {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    background-color: rgba(255, 155, 255, 0.33);
}

.player-hand-area {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    background-color: rgba(155, 155, 255, 0.33);
}

.hand-area img {
    width: auto;
    height: 50%;

    border: 1px solid black;
}

.score-area {
    width: 100%;
    height: 40%;

    display: flex;
}

.rival-score-area {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    overflow: auto;
}

.rival-score-area table {
    background-color: rgb(255, 155, 255);
}

.rival-score-area thead {
    background-color: rgb(255, 105, 255);
}

.rival-score-area th {
    position: sticky;
}

.numpad {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.numpad button {
    font-family: Footlight MT Light;

    background-color: rgb(245, 245, 245);
    font-size: 1.5em;

}

#btn-enter{
    background-color: rgb(145, 245, 145);
}

#btn-reset{
    background-color: rgb(245, 145, 145);
}

.player-score-area {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    overflow: auto;
}

.player-score-area table {
    background-color: rgb(155, 155, 255);
}

.player-score-area thead {
    background-color: rgb(105, 105, 255);
    position: sticky;
}

.score-table {
    width: 90%;
}

.score-table td {
    width: 50%;

    vertical-align: top;
    text-align: center;
}

.player-area {
    width: 100%;
    height: 10%;

    display: flex;
    align-items: end;

    background-color: rgb(0, 0, 255);
    color: white;
}

.player-icon-area {
    width: 10%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.player-icon {
    height: 100%;
}

.chat-icon {
    width: 100%;
}

.player-name-area {
    width: 20%;
    height: 50%;

    display: flex;
    justify-content: start;
    align-items: center;
}

.player-btn-area {
    width: 70%;
    height: 100%;

    display: flex;
    justify-content: right;
    align-items: center;
    gap: 5px;
}

.player-btn-area img {
    width: 50%;
}

.sidebar {
    width: 40%;
    height: 100%;

    border: 1px solid black;

    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.chat-view {
    width: 100%;
    height: 90%;

    overflow: auto;
}


.chat {
    width: 100%;

    display: flex;

    border-bottom: 1px solid black
}

.chat-user {
    width: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat-user-name {
    font-size: 0.75em;
}

.chat-msg {
    width: 100%;
}

.chat-input {
    width: 100%;
    height: 10%;

    align-items: end;

}

.chat-input input {
    width: 100%;
    height: 100%;

    border: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 0;
}

table,
thead,
tbody,
tr,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

@media screen and (max-width: 768px) {
    /* @media screen and (max-width: 920px) { */

    /* 480px以下に適用されるCSS（スマホ用） */
    .main {
        width: 100%;
    }

    .sidebar {
        display: none;
    }
}